.card {
  height: 150px;
  color: white;
  background: linear-gradient(135deg,
                              rgba(0,0,0,0.8) 0%,
                              rgba(0,0,0,0.3) 50%),
                              url('https://picsum.photos/300/250/?random');
  background-size: cover;
  position: relative;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-avatar {
  position: absolute;
  top: 10px;
  right: 10px;
}
